<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>
	<extension-point id="TransformationMasks" name="TransformationMasks" schema="schema/TransformationMasks.exsd"/>
 <extension
       point="net.atos.optimus.m2m.engine.core.TransformationMaskSources">
    <transformationMaskDataSource
          implementation="net.atos.optimus.m2m.engine.masks.extension.ExtensionPointTransformationMaskDataSource">
    </transformationMaskDataSource>
    <transformationMaskDataSource
          implementation="net.atos.optimus.m2m.engine.masks.extension.XMLFileTransformationMaskDataSource">
    </transformationMaskDataSource>
 </extension>
 <extension
       point="net.atos.optimus.m2m.engine.masks.TransformationMasks">
    <exclusiveMask
          description="A default mask : all transformations enables"
          name="Default all On mask">
    </exclusiveMask>
 </extension>
</plugin>
